<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/stylecreateSport.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
        <div class="background">
        </div>
        <div class="sport-form">
            <form action="/createSport" method="post">
                <h2 class="form-title"><%= title %></h2>
                <% if (sport) { %>
                    <input type="hidden" name="sportId" value="<%= sport.id %>">
                <% } %>
                <div class="form-group">
                    <input type="text" name="title" placeholder="sport name"
                    <% if (sport) { %>
                    value="<%= sport.title %>"
                    <% } %>
                    required 
                    />
                </div>
                <div class="form-group">
                    <button class="button-submit" type="submit"><%= title.split(',')[0] %></button>
                </div>
            </form>
            <div class="errors">
                <% if(messages && messages.error && messages.error.length > 0)  { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <h5 class="inline-block px-2 py-1 mx-2 my-1 rounded bg-red-200 text-red-600 border border-red-400">
                            <%= messages.error[i] %>
                        </h5>
                    <% } %>
                <% } %>
            </div>
        <div class="quote-wrapper">
            <div class="author">
                <%= quotes[Math.floor(Math.random() * quotes.length)].author %>
            </div%>
            <div class="quote">
                <%= quotes[Math.floor(Math.random() * quotes.length)].quote %>
            </div%>
        </div>    
      </div>
    </div>
  </body>
</html>
