<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f7fafc;
            font-family: "Helvetica Neue", sans-serif;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .form-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 60%;
            border: 2px solid #e2e8f0;
            border-radius: 0.5rem;
            padding: 2rem;
            background-color: #fff;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        }
        .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;
            width: 100%;
        }
        .form-group label {
            margin-bottom: 0.5rem;
            font-weight: bold;
        }
        .form-group input[type="datetime-local"], 
        .form-group input[type="text"], 
        .form-group input[type="number"] {
            border: 1px solid #e2e8f0;
            border-radius: 0.5rem;
            padding: 1rem;
            width: 100%;
            font-size: 1.2rem;
            margin-top: 0.5rem;
        }
        .submit-btn {
            background-color: #007bff;
            color: #fff;
            padding: 1rem 2rem;
            border: none;
            border-radius: 0.5rem;
            font-size: 1.2rem;
            cursor: pointer;
            margin-top: 1.5rem;
            transition: all 0.2s ease-in-out;
        }
        .submit-btn:hover {
            background-color: #0069d9;
        }
    </style>
    
</head>
<body>
    <div class="container">
        <form action="/sport/<%= sportId %>/createSession" method="post">
            <% if (sessionItem != null) { %>
                <input type="hidden" name="sessionId" value="<%= sessionItem.id %>">
            <% } %>
            <input type="hidden" name="sportId" value="<%= sportId %>">
            <h1> Create Your Session </h1>
            <p>Please fill all the fields in this form.</p>
            <div class="form-group">
                <label>When will this sport session be held?</label>
                <input type="datetime-local" name="dueDate" required <% if (sessionItem != null) { %>value="<%= new Date(sessionItem.dueDate).toISOString().slice(0, 16)  %>"<% } %>>
            </div>
            <div class="form-group">
                <label>where will this session be played?</label>
                <input type="text" name="venue" required <% if (sessionItem != null) { %>value="<%= sessionItem.venue %>"<% } %> >
            </div>
            <div class="form-group">
                <label>who all will be joining you in this session?</label>
                <input type="text" name="players" required <% if (players != null) { %>value="<%= players %>"<% } %> >
            </div>
            <div class="form-group">
                <label>How many more players do you need?</label>
                <input type="number" name="num_players" required <% if (sessionItem != null) { %>value="<%= sessionItem.num_players %>"<% } %> >
            </div>
            <div class="form-group">
                <button type="submit" class="submit-btn">Submit</button>
            </div>
        </form>
    </div>
</body
