<h2><%= sessionsType %></h2>
<% if (sessions)  { %>
  <% for( let i = 0; i < sessions.length; i++ ) { %>
      <div class="session">
          <% if (sessionsType !== "Past Sessions") { %>
            <div>
                <a href="/sport/<%= sport.id %>/editSession/<%= sessions[i].id %>">
                   <p><%= sessions[i].id %></p>
                </a>
            </div>
          <% } else { %>
            <div>
                <p><%= sessions[i].id %></p>
            </div>
          <% } %>
              <div>
                  <p><%= sessions[i].venue %></p>
              </div>
            <div>
                <p><%= sessions[i].dueDate %></p>
            </div>
            <% if (sessionsType === "Canceled Sessions") { %>
            <div>
                <p class="reason" style="display: inline-block;">Reason: </p>
                <p><%= sessions[i].reason %></p>
            </div>
            <% } else { %>
              <div>
                <p><%= sessions[i].num_players %> slot available</p> 
              </div>
            <% } %>
      </div>
  <% } %>
<% } else { %>
  <p>Not available.</p>
<% } %>